.content {
    background-image: url('../home-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    height: 89.7vh;
    width: 100%;
    margin-top:0;
    padding-top:15rem;
    font-size: 5rem;
    color: beige;
}