.form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vh;

}
.avatar{
    height: 40vh;
}
.control-label
{
    width: 10vw;
    font: bold;
    font-weight: 1000;
}
.form-control{
    padding-left: 1vh;
    width: 20vw;
    height: 4vh;
    border-radius: 1vh;
}
.btn{
    margin: 1vh;
    height: 5vh;
    width: 8vw;
    background-color: aqua;
    border-radius: 2vh;
}